In [1]:
import pandas as pd
import numpy as np
import os

In [20]:
#Define path 
path=(r"C:\Users\hardjan\Retail Supermarket")

In [2]:
df=pd.read_csv(r"C:\Users\hardjan\Retail Supermarket\02 Data\Original Data\samplesuperstore.csv", index_col = False)

In [3]:
#print the coumns of the dataframe
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
#print df tail to see how many columns are there in the Dataframe 
df.tail()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.248,3,0.2,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.960,2,0.0,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.576,2,0.2,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.600,4,0.0,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.160,2,0.0,72.9480

In [5]:
#print the total no of rows and columns 
df.shape

(9994, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [7]:
df.dtypes

Ship Mode        object
Segment          object
Country          object
City             object
State            object
Postal Code       int64
Region           object
Category         object
Sub-Category     object
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object

In [8]:
df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

### Descriptive Analysis

In [9]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

### Finding Missing Values

In [10]:
df.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

#### There are no missing values in the data set

In [11]:
df.duplicated().sum()

17

#### There are 17 duplicates in the data set so lets address them

In [12]:
df.drop_duplicates(inplace= True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9977 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9977 non-null   object
 1   Segment       9977 non-null   object
 2   Country       9977 non-null   object
 3   City          9977 non-null   object
 4   State         9977 non-null   object
 5   Postal Code   9977 non-null   int64
 6   Region        9977 non-null   object
 7   Category      9977 non-null   object
 8   Sub-Category  9977 non-null   object
 9   Sales         9977 non-null   float64
 10  Quantity      9977 non-null   int64
 11  Discount      9977 non-null   float64
 12  Profit        9977 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1.1+ MB

### Finding the mixed type columns

In [14]:
for col in df.columns .tolist():
    if len (df[col].apply(type).unique())>1:
        print (col+ 'have mix data type')
    else:
        print(col + 'dont have mix data type')

Ship Modedont have mix data type
Segmentdont have mix data type
Countrydont have mix data type
Citydont have mix data type
Statedont have mix data type
Postal Codedont have mix data type
Regiondont have mix data type
Categorydont have mix data type
Sub-Categorydont have mix data type
Salesdont have mix data type
Quantitydont have mix data type
Discountdont have mix data type
Profitdont have mix data type

### dropping unnecessary columns

In [15]:
df.drop(["Postal Code"], axis=1,inplace= True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9977 entries, 0 to 9993
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9977 non-null   object
 1   Segment       9977 non-null   object
 2   Country       9977 non-null   object
 3   City          9977 non-null   object
 4   State         9977 non-null   object
 5   Region        9977 non-null   object
 6   Category      9977 non-null   object
 7   Sub-Category  9977 non-null   object
 8   Sales         9977 non-null   float64
 9   Quantity      9977 non-null   int64
 10  Discount      9977 non-null   float64
 11  Profit        9977 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 1013.3+ KB

In [24]:
# Exporting the data set as df_checked.csv
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'samplesuperstore.csv'))